prompt = no
string_mask = utf8only
distinguished_name = req_distinguished_name
[ req_distinguished_name ]
commonName = Hello
countryName = CN
emailAddress = Text@email.com
localityName = Wuxi
organizationName = PlatforU
stateOrProvinceName = JiangSu
